{% load static %}
<nav class="navbar navbar-expand-lg px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img
                src="{% static 'images/logo.svg' %}"
                alt="Logo"
                width="60"
                height="60"
                class="d-inline-block align-text-middle"
            />
            <span class="text-column text-white">
                <span>Assemblies of God,</span>
                <span>Dunamis Centre</span>
            </span>
        </a>
        <button
            class="navbar-toggler bg-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item {% if request.path == '/homepage/' %}active{% endif %}">
                    <a href="{% url 'homepage' %}" class="nav-link-style"> Home </a>
                </li>
                <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                    <a href="{% url 'about' %}" class="nav-link-style"> About Us </a>
                </li>
                <li class="nav-item {% if request.path == '/department/' %}active{% endif %}">
                    <a href="{% url 'department' %}" class="nav-link-style"> Department </a>
                </li>
                <li class="nav-item {% if request.path == '/news/' %}active{% endif %}">
                    <a href="{% url 'news' %}" class="nav-link-style"> News </a>
                </li>
                <li class="nav-item {% if request.path == '/upcomingevents/' %}active{% endif %}">
                    <a href="{% url 'upcomingevents' %}" class="nav-link-style"> Events </a>
                </li>
                <li class="nav-item {% if request.path == '/profile/' %}active{% endif %}">
                    <a href="{% url 'profile' %}" class="nav-link-style"> Profiles </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link-style"> Logout </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link-style"> Login </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
