{% extends 'mainpage.html' %} 

{% block content %}
<div class="department-bg">
    {% include 'mainnavbar.html' %}
    <div class="home-container">
        <div class="row mt-2">
            <div class="col-12 col-md-12 col-lg-7 mt-3 mt-md-3">
                <div>
                    <h5 class="fw-bold">
                        DEPARTMENT MEN&apos;S MINISTRY
                    </h5>
                    <p>
                        This department is exclusively for married male
                        members of the church. They meet every Mondays
                        by 6pm in the church premises. They are led by a
                        five man exco members, headed by the President.
                        Their objectives include the following:
                    </p>
                    <ul>
                        <li>
                            To walk daily in the spirit
                            &UnderBracket;Gal. 5:16
                        </li>
                        <li>
                            To maintain Christian fellowship (Acts 2:42,
                            Heb.10:25)
                        </li>
                        <li>
                            To serve in the house of God (Heb. 6:10,
                            2Tim. 2:20 &#8209; 21)
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="fw-bold">WOMEN&apos;S MINISTRY</h5>
                    <p>
                        This is the department of the married female
                        members of the church. They meet every Mondays
                        by 4pm to 6pm in the church premises. They are
                        led by a seven person exco members (otherwise
                        called Deaconess) headed by the President. Their
                        objectives includes the following:
                    </p>
                    <ul>
                        <li>
                            Not forsaking the assembling of the brethren
                            &lpar;Heb. 10:25&rpar;
                        </li>
                        <li>
                            Giving in support of God&apos;s work
                            &lpar;2Cor. 9:7&rpar;.
                        </li>
                        <li>
                            Preaching the good news (Mark 16:15, Matt.
                            28:19).
                        </li>
                        <li>Helping the needy (Acts. 2:45).</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-5 mt-3 mt-md-3">
                <div>
                    <h5 class="fw-bold">WOMEN&apos;S MINISTRY</h5>
                    <p>
                        This is the department of the married female
                        members of the church. They meet every Mondays
                        by 4pm to 6pm in the church premises. They are
                        led by a seven person exco members (otherwise
                        called Deaconess) headed by the President. Their
                        objectives includes the following:
                    </p>
                    <ul>
                        <li>
                            Not forsaking the assembling of the brethren
                            &lpar;Heb. 10:25&rpar;
                        </li>
                        <li>
                            Giving in support of God&apos;s work
                            &lpar;2Cor. 9:7&rpar;.
                        </li>
                        <li>
                            Preaching the good news (Mark 16:15, Matt.
                            28:19).
                        </li>
                        <li>Helping the needy (Acts. 2:45).</li>
                    </ul>
                </div>
                <div>
                    <h5 class="fw-bold">WOMEN&apos;S MINISTRY</h5>
                    <p>
                        This is the department of the married female
                        members of the church. They meet every Mondays
                        by 4pm to 6pm in the church premises. They are
                        led by a seven person exco members (otherwise
                        called Deaconess) headed by the President. Their
                        objectives includes the following:
                    </p>
                    <ul>
                        <li>
                            Not forsaking the assembling of the brethren
                            &lpar;Heb. 10:25&rpar;
                        </li>
                        <li>
                            Giving in support of God&apos;s work
                            &lpar;2Cor. 9:7&rpar;.
                        </li>
                        <li>
                            Preaching the good news (Mark 16:15, Matt.
                            28:19).
                        </li>
                        <li>Helping the needy (Acts. 2:45).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}